@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:#fff0f5;
    color: #333;
    font-family: "Helvetica Neue"
 
}

html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;

}
.home img {
    height: 500px;
}

.timeline img{
    height: 500px;
}

ul{
    list-style: none;
}


nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fcdecc;
    margin-bottom: 15px;
    border-bottom: 2px solid pink;

}

.logo{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    width: 380px;
    align-items: center;
    font-weight: 600;
    font-family: Teko;
    font-size: 32px;
    text-transform: uppercase; /* transformar em maiúscula */
    
}
.logo img{
    width: 40px;
    border-radius: 50%;
}


.menu{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    gap: 24px; /* separação entre os itens do menu*/
    color: #990033;

}
.login{
    color: #990033;
}

main{
    display: flex;
    flex-direction: column;

}
.principal {
    margin-top: 100px;
    background-color: #fff0f5;
}

.begin{
   
    color: #333;
    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 96px;

    padding: 0 32px ;
    margin: auto;
    
    overflow: clip;
    border-bottom: 2px solid #990033;
    border-width: 100%;
}



.begin-imagens-container{
    max-width: 55%;
    column-count: 5;
    column-gap:16px ;
    margin:-16px ;

}

.begin-imagens-container > figure > img{

    width: 100%;
    border-radius: 8px;

}

h1{
    padding-top: 10px;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 800;
}

hr{
    border-color: #990033;
}

.begin-subtitulo{
    color: #333;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.meio{
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    margin: auto;
    padding:  48px 32px;

}

.about-me{
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.h2-destaque{
    font-family:Montserrat;
    font-size: 32px;
    font-weight: 700;

}

.line{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.line p{
    width: 800px;
    font-size: 28px;
}

